.logo_team_swan {
  width: 150px;
  cursor: pointer;
}

.toolbarContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
